.navbar nav {
  width: 100%;
  padding: 20px 10px;
  background: #24252a;
}

.navbar ul {
  margin: 0 auto;
  list-style: none;
  max-width: 900px;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
  font-size: 1.2em;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}

.navbar a.active {
  color: #0088a9;
}

.navbar .title {
  margin-right: auto;
}
