.post-status {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 20px 0 20px 0;
  width: 650px;
  border-radius: 20px;
  padding: 0 20px 20px 20px;
  background-color: rgb(249 250 251);
}

.post-status .upper-part {
  display: flex;
  padding: 10px;
}

.post-status .lower-part {
  margin-top: 10px;
}

.post-status .lower-part .button {
  display: block;
  margin-left: auto;
  background-color: #0088a9;
  padding: 7px 30px 7px 30px;
}

.post-status .avatar {
  margin-top: 10px;
}

.post-status .text-field {
  margin-left: 10px;
  margin-top: 10px;
}
